@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-in {
    animation-duration: 800ms;
    animation-fill-mode: both;
  }
  
  .fade-in {
    animation-name: fade-in;
  }
  
  .slide-in-from-left-8 {
    animation-name: slide-in-from-left-8;
  }
  
  .slide-in-from-right-8 {
    animation-name: slide-in-from-right-8;
  }
  
  .slide-in-from-bottom-4 {
    animation-name: slide-in-from-bottom-4;
  }

  .delay-200 {
    animation-delay: 200ms;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide-in-from-left-8 {
  from { opacity: 0; transform: translateX(-2rem); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slide-in-from-right-8 {
  from { opacity: 0; transform: translateX(2rem); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slide-in-from-bottom-4 {
  from { opacity: 0; transform: translateY(1rem); }
  to { opacity: 1; transform: translateY(0); }
}

/* Typography Overrides */
h1 {
  letter-spacing: -0.05em !important;
}

input::placeholder {
  color: #f1f5f9;
}

/* Hide Spinners on Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
